node_modules
.pnpm-store
apps/*/node_modules
packages/*/node_modules

static/iiif
static/assets
apps/*/static/iiif
apps/*/static/assets

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
apps/*/.svelte-kit
apps/*/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
